<p style="color: green"><%= notice %></p>

<%= render @ingrediant %>

<div>
  <%= link_to "Edit this ingrediant", edit_ingrediant_path(@ingrediant) %> |
  <%= link_to "Back to ingrediants", ingrediants_path %>

  <%= button_to "Destroy this ingrediant", @ingrediant, method: :delete %>
</div>
